{% extends "base.html" %}

{% block title %}Restaurantes{% endblock %}

{% block contentheader %}
<h2>Agregar restaurante</h2>
{% endblock %}

{% block content %}
{% if not added %}
<h3 align="center">Datos:</h3>
{% endif %}

{% if added %}
<h3 align="center">Se ha agregado:</h3>
<table align="center" class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>ID</th>
            <th>Coordenadas</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ current_rest.name }}</td>
            <td>{{ current_rest.id }}</td>
            <td>[{{ current_rest.location.coordinates.1 }}, {{ current_rest.location.coordinates.0 }}] </td>
            <td>{{ current_rest.location.type }}</td>
            <td>
                <a class="btn btn-success" target="_blank" href="https://www.google.com/maps?q={{ current_rest.location.coordinates.1 }},{{ current_rest.location.coordinates.0 }}" role="button">Maps</a>
                <a class="btn btn-primary" href="{% url 'edit' _id=current_rest.id %}" role="button">Editar</a>
                <a class="btn btn-danger" href="{% url 'delete' _id=current_rest.id %}" role="button">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}

<br><br>

{% if added %}
<h3 align="center">Agregar otro:</h3>
<br>
{% endif %}
<div class="formularioxd">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Agregar">
    </form>
</div>
    
{% endblock %}