{% extends "base.html" %}

{% block title %}Restaurantes{% endblock %}

{% block contentheader %}
<h2>Restaurantes</h2>
{% endblock %}

{% block content %}
<h3 align="center">Eliminar restaurante</h3>

<div class="tablerest">
    <div class="col-md-3">
        <div class="well">
            <h3><b>{{ current_rest.name }}</b></h3>
            <hr>
            <p>{{ current_rest.id }}</p>
            <hr>
            <p>{{ current_rest.location.coordinates }}</p>
            <hr>
            <p>{{ current_rest.location.type }}</p>
            <hr>
        </div>
    </div>
</div>

<h3 align="center">¿Estas seguro?</h3>
<div align="center">
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-danger" type="submit" value="Eliminar">
    </form>
    <br>
    <a class="btn btn-primary" href="{% url 'restaurantes' %}" role="button">Volver</a>
</div>
{% endblock %}