{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block contentheader %}
<h2>Perfil</h2>
{% endblock %}

{% block content %}
<table id="profile" align="center">
    <tr>
        <td>Username</td>
        <td>{{ currentuser.username }}</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>{{ currentuser.password }}</td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>{{ currentuser.firstname }}</td>
    </tr>
    <tr>
        <td>Apellidos</td>
        <td>{{ currentuser.lastname }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ currentuser.email }}</td>
    </tr>
    <tr>
        <td>Teléfono</td>
        <td>{{ currentuser.telnumber }}</td>
    </tr>
    <tr>
        <td>Fecha nacimiento</td>
        <td>{{ currentuser.birthdate }}</td>
    </tr>
</table>
{% endblock %}