{% extends "base.html" %}

{% block title %}Restaurantes{% endblock %}

{% block contentheader %}
<h2>Restaurantes</h2>
{% endblock %}

{% block content %}
<h3 align="center">Búsqueda:</h3>
<br><br>
<form method="POST" align="center">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Buscar">
</form>

<br><br><br>

{% if message != "" %}
<h3 align="center">{{ message }}</h3>
{% endif %}

{% if showdata %}
<table align="center" class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>ID</th>
            <th>Coordenadas</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for r in data %}
            <tr>
                <td>{{ r.name }}</td>
                <td>{{ r.id }}</td>
                <td>{{ r.location.coordinates }}</td>
                <td>{{ r.location.type }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'edit' _id=r.id %}" role="button">Editar</a>
                    <a class="btn btn-danger" href="{% url 'delete' _id=r.id %}" role="button">Borrar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}