{% extends "base.html" %}

{% block title %}Restaurantes{% endblock %}

{% block contentheader %}
<h2>Restaurantes</h2>
{% endblock %}

{% block content %}
<h3 align="center">Búsqueda</h3>
<form method="POST" align="center">
    <input type="text" name="search_by_name" placeholder="Search by name">
    <input class="btn btn-primary" type="submit" value="Search">
</form>
<br>
<form method="POST" align="center">
    <input type="text" name="search_by_id" placeholder="Search by ID">
    <input class="btn btn-primary" type="submit" value="Search">
</form>

<br><br><br>

<table id="profile" align="center">
    <tr>
        <td>Name</td>
        <td>{{ session['current_rest']['name'] }}</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>{{ session.current_rest['id'] }}</td>
    </tr>
    <tr>
        <td>Coordinates</td>
        <td>{{ session['current_rest']['coordinates'] }}</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>{{ session['current_rest']['type'] }}</td>
    </tr>
</table>

<br><br><br>

<h3 align="center">Update restaurant</h3>
<form method="POST" align="center">
    <input type="text" name="rest_name" placeholder="Name" value="{{ session['current_rest']['name'] }}" required><br>
    <input type="text" name="rest_ID" placeholder="ID" value="{{ session.current_rest['id'] }}" required readonly=True><br>
    <input type="text" name="rest_coord" placeholder="Coordinates" value="{{ session['current_rest']['coordinates'] }}" required><br>
    <input type="text" name="rest_type" placeholder="Type" value="{{ session['current_rest']['type'] }}" required><br>
    <br>
    <input class="btn btn-primary" type="submit" value="Update">
</form>

<br><br><br>

<h3 align="center">Add restaurant</h3>
<form method="POST" align="center">
    <input type="text" name="add_name" placeholder="Name" required><br>
    <input type="text" name="add_coord" placeholder="Coordinates" required><br>
    <input type="text" name="add_type" placeholder="Type" required><br>
    <br>
    <input class="btn btn-primary" type="submit" value="Add">
</form>

<br><br><br>

<h3 align="center">Delete restaurant...</h3>
<form method="POST" align="center">
    <h3 align="center">... by name</h3>
    <input type="text" name="del_by_name" placeholder="Name" required>
    <input class="btn btn-primary" type="submit" value="Delete">
</form>
<form method="POST" align="center">
    <h3 align="center">... by ID</h3>
    <input type="text" name=del_by_id placeholder="ID" required>
    <input class="btn btn-primary" type="submit" value="Delete">
</form>

{% endblock %}