{% extends "base.html" %}

{% block title %}Sign up{% endblock %}
{% block content %}
<br>
<form method="POST" align="center">
    <h2>Please sign up</h2>
    <input type="text" name="username" placeholder="Username" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="text" name="firstname" placeholder="First name" required><br><br>
    <input type="text" name="lastname" placeholder="Last name" required><br><br>
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="tel" name="telnumber" placeholder="Telephone number" required><br><br>
    <input type="date" name="birthdate" placeholder="Birth date" required><br><br>
    <br>
    <input class="button1" type="submit" value="Sign up!">
</form>
{% endblock %}