{% extends "base.html" %}

{% block title %}Restaurantes{% endblock %}

{% block contentheader %}
<h2>Ver restaurante</h2>
{% endblock %}

{% block content %}

<script type="text/javascript">
    var latitud = "{{ current_rest.location.coordinates.1 }}";
    var longitud = "{{ current_rest.location.coordinates.0 }}";
    var restname = "{{ current_rest.name }}";
</script>

<div align="right">
    <button class="btn btn-info" id="changetable">Estilo tabla</button>
</div>
<br>
<table align="center" class="table table-striped" id="estilotabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>ID</th>
            <th>Coordenadas</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ current_rest.name }}</td>
            <td>{{ current_rest.id }}</td>
            <td>[{{ current_rest.location.coordinates.1 }}, {{ current_rest.location.coordinates.0 }}] </td>
            <td>{{ current_rest.location.type }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'edit' _id=current_rest.id %}" role="button">Editar</a>
                <a class="btn btn-danger" href="{% url 'delete' _id=current_rest.id %}" role="button">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>

<br><br>

<div class="mapOSM" id="editmap"></div>

{% endblock %}