{% extends "base.html" %}

{% block title %}Restaurantes{% endblock %}
{% block content %}
<br>
<h2 align="center">Restaurantes</h2>
<br>
<div class="container">
    <h2>Condensed Table</h2>     
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>_id</th>
                <th>location</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range( session.restsize ) %}
                <tr>
                    <td>{{ session.restaurantes[i]['_id'] }}</td>
                    <td>{{ session.restaurantes[i]['location'] }}</td>
                    <td>{{ session.restaurantes[i]['name'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}