{% extends "base.html" %}

{% block title %}Restaurantes{% endblock %}
{% block content %}
<br>
<h2 align="center">Restaurantes</h2>
<br>

<div align="center">
    <form method="post">
        <select name="type">
            {% for i in range( session.lenintervalos ) %}
            <option value="intervalo_{{ i }}">{{ session.intervalos[i]['min'] }} - {{ session.intervalos[i]['max'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
</div>

<div class="container">    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>_id</th>
                <th>location</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0,99) %}
                <tr>
                    <td align="center">{{ session.restaurantes[i]['_id'] }}</td>
                    <td align="center">{{ session.restaurantes[i]['location']['coordinates'] }}</td>
                    <td align="center">{{ session.restaurantes[i]['name'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}