{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block title %}Cambiar contraseña{% endblock %}

{% block contentheader %}
<h2>Cambiar contraseña</h2>
{% endblock %}

{% block content %}
<div class="accform">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
