{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block title %}Verificar email{% endblock %}

{% block contentheader %}
<h2>Verificar email</h2>
{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}
