{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block contentheader %}
<h2>Programming skills</h2>
{% endblock %}

{% block content %}
<div class="accform">
	<p align="center">C++/C</p>
	<div class="container">
		<div class="skills cpp">90%</div>
	</div>
	<br>
	<p align="center">Java</p>
	<div class="container">
		<div class="skills java">85%</div>
	</div>
	<br>
	<p align="center">Python</p>
	<div class="container">
		<div class="skills python">75%</div>
	</div>
	<br>
	<p align="center">SQL</p>
	<div class="container">
		<div class="skills sql">70%</div>
	</div>
	<br>
	<p align="center">PHP</p>
	<div class="container">
		<div class="skills php">50%</div>
	</div>
	<br>
	<p align="center">HTML</p>
	<div class="container">
		<div class="skills html">50%</div>
	</div>
	<br>
	<p align="center">CSS</p>
	<div class="container">
		<div class="skills css">50%</div>
	</div>
</div>
{% endblock %}